/* Reseteo básico de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.title {
  font-size: 2rem;
  color: #333;
  display: flex;
  justify-content: center;
  padding: 2.5% 2.5% 2.5% ;
}
.titulo{
  border-radius: 5px;
  margin: 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.input-container {
  display: flex; /* Usamos flexbox para alinear elementos */
  width: 100%;
  max-width: 600px; /* Ancho máximo del contenedor */
  padding-left: 30px;
  padding-bottom: 10px;
}
.search-input {
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 300px; /* Ancho máximo del input */
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block; /* Asegura que el input sea un bloque */
}
.search-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px 4px 4px 4px; /* Bordes redondeados solo a la derecha */
  border: none; /* Eliminar el borde izquierdo */
  background-color: #eaff00;
  color: #0a1e74;
  cursor: pointer;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el cursor */
}

.table-container {
  width: 100%;
  max-width: 800px;
  overflow-x: auto; /* Permite el scroll horizontal en pantallas pequeñas */
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px; /* Asegura un mínimo ancho para la tabla */
}

.responsive-table th,
.responsive-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.responsive-table thead {
  background-color: #f4f4f4;
}

.responsive-table th {
  background-color: #a3a4a6;
  color: #fff;
}

/* Alternar color de filas */
.responsive-table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 600px;
  margin: 20px auto;
}

.card-header {
  margin-bottom: 16px;
}

.card-header h2 {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex: 0 0 48%;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.error {
  color: red;
  font-size: 0.875em;
  margin-top: 8px;
}

button {
  background-color: #eaff00;
  color: rgb(17, 44, 152);
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  align-self: center;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}


.rounded-image {
  width: 30px; /* Puedes ajustar el tamaño según sea necesario */
  height: 30px; /* Asegúrate de que el ancho y alto sean iguales para hacerla circular */
  border-radius: 50%; /* Hace la imagen circular */
  object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsión */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Opcional: Añade una sombra */
}

/* Responsivo para dispositivos más pequeños */
@media (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }

  .search-input {
    font-size: 0.875rem;
    padding: 8px;
  }

  .responsive-table thead {
    display: block;
  }

  .responsive-table, .responsive-table tbody, .responsive-table tr, .responsive-table td {
    display: block; /* Hacer que cada fila sea un bloque */
    width: 100%;
  }

  .responsive-table tr {
    margin-bottom: 15px; /* Espacio entre filas */
  }

  .responsive-table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .responsive-table td::before {
    content: attr(data-label); /* Añadir los datos de etiqueta */
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}
